<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    
    <h1>Update Information for {{ product.name }}</h1>

    <form method="post">
      {% csrf_token %}
      <table>
        {{ product_form.as_table }}
      </table>
      <br>
      <button name="save_product">Save Product</button>
    </form>
    
    <h2>Product Images</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ product_image_form.as_table }}
      </table>
      <br>
      <button name="save_product_image">Add Image</button>
    </form>
    
    <h3>Existing Images</h3>
    <ul>
      {% for image in product_images %}
        <li>
          <img src="{{ image.image.url }}" alt="Product Image" style="width: 200px; height: auto;">
        </li>
      {% endfor %}
    </ul>


</body>
</html>